language: ruby
sudo: true
rvm:
  - 2.4.1

before_install:
  - export NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  - sudo apt-get install libcurl3-dev
  - gem install bundler:1.17.2

before_script: bundle exec jekyll build

script: 
  - travis_retry bundle exec htmlproofer --url-ignore "/www.tomesh.net/,/tomesh.net/" ./_site --allow-hash-href
  - bundle exec jekyll build
  
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: /home/travis/build/tomesh.net/tomesh.net/_site
  on:
    branch: githubpages
    
notifications:
  email: false
