---
layout: default
---

<style>
	.featurette:nth-child(odd) { background:#fdfdfd; }
	.featurette { background:#fdfdfd; }
	.frontPageTile {
		width: 32.5%;   
		display:inline-block; 
		vertical-align: top;
		height:320px;
	    text-align: center;
	}
	.frontPageTile img { 
	    max-width: 80%;
	    max-height: 154px;
	
	}
	.frontPageTile .row {
		height:170px;
		display:block;
	}
	.tileButton  {
	    font-size: 1em !important;
	    width: 225px;
	    text-align: center;
	    margin: 0 auto;
	    display: block;
	    line-height: 31px;
	}

	.site-footer {
	    margin: 3em 0;
	    font-size: 0.85em;
	    background-color: #eeeeff;
	    padding-top: 50px;
	}
	@media (max-width: 850px) {
		.frontPageTile { display:block; width:100%;}
	}

</style>

<!-- About Section -->
<section class="feature background-tint">
  <div class="container">
    <div class="content" role="contentinfo">
      <h1>Toronto Mesh</h1>
      <h2>We are building a mesh network in Toronto</h2>
      <a class="button button-primary" href="{{ site.baseurl }}/about" aria-label="Learn more about Toronto Mesh" role="button">Learn More</a>
      <br>
    </div>
    <p class="attribution">Map tiles by <a href="http://stamen.com" target="_blank">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY SA</a></p>
  </div>
</section>



<!-- Get Involved section  -->
<section class="featurette layout3 frontPageTile">
  <div class="container">
    <div class="row">
      <img src="/images/frontInvolved.jpg"  alt="Get involved with the community">
    </div>
    <a class="button button-primary tileButton" href="{{ site.baseurl }}/get-involved" role="button">Get Involved</a>
  </div>
</section>

<!-- Map Section -->
<section class="featurette layout3 frontPageTile">
  <div class="container">
    <div class="row">
      <img src="/images/frontSeeMap.jpg"  alt="Find peopel in your area wanting to mesh!"><br/>
    </div>
    <a class="button button-primary tileButton" href="{{ site.baseurl }}/map" role="button">See Map</a>
  </div>
</section>

<!-- Build Section -->
<section class="featurette layout3 frontPageTile">
  <div class="container">
    <div class="row">
		<img src="/images/frontBuild.jpg"  alt="Learn how to build a node"><br/>       
    </div>
    <a class="button button-primary tileButton"  href="{{ site.baseurl }}/build-a-node" role="button">Build A Node</a>
  </div>
</section>


<!-- Event section -->
<div style="background:#eeeeee">
  <section class="featurette layout3" style="width:33%; margin-left:33%; margin-right:33%; height:inherit; display:block; background-color:#eeeeee; text-align: center;">
    <a href="{{ site.baseurl }}/events" role="link" title="Toronto Mesh Calendar">{% include_absolute _icons/calendar.svg class:icon icon-5x %}</a>
    <h1>Our Next Event</h1>
    <center>
      {% include next-event.html %}
    </center>
    <a class="button button-primary" href="{{ site.baseurl }}/events" role="link">More Events</a>
  </section>
</div>

<!-- Contact Section -->