{% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
{% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
{% for announcement in site.announcements reversed %}
  {% capture announceyear %}{{announcement.dateUntil | date: '%Y'}}{% endcapture %}
  {% capture announceday %}{{announcement.dateUntil | date: '%j'}}{% endcapture %}
  {% assign announceday = announceday | plus: 0 %}
  {% assign nowday = nowday | minus: 0 %}
  {% if announceyear > nowyear or announceday >= nowday and announceyear >= nowyear %}
    <div class ="announcement">
      <div class="container">
        {{announcement.output}}
      </div>
    </div> <!-- /.announcement -->
  {% endif %}
{% endfor %}