<!-- Event Grid Section -->
  <section id="event-grid" class="site-section">
      <h2>Events</h2>
      <a href="/events.ics" class="button"><i class="icon fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Visit our Calendar</a>
      <h4>Upcoming</h4>
      <div class="row">
          {% assign isEvent = 0 %}
          {% for post in site.posts reversed %}
            {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
            {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
            {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
            {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
            {% assign postday = postday | plus: 0 %}
            {% assign nowday = nowday | minus: 2 %}
            {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
              {% assign isEvent = 1 %}
              <div class="six columns event-item">
                <h2 class="event-title heading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="event-time"><p>{{ post.date | date: "%-d %B %Y"}}, <strong>{{post.startTime | date:"%-I:%M%P "}}</strong></p></div>
                <div class="event-location"><p>{{ post.location }}</p></div>
                <a href="{{ post.url }}" class="event-caption">{{ post.text }}</a>
              </div>
            {% endif %}
          {% endfor %}
      </div>
      <div class="row">
          {% if isEvent == 0 %}
            <p>No upcoming events.<br />
              <a href="mailto:{{ site.email }}">If you are interested doing something get in touch!</a>
            </p>
          {% endif %}
      </div>
  </section> <!-- /.event-grid -->
