{% comment %} Event Section: with description, previous vs. upcoming {% endcomment %}

  <header>
    <h3 class="event-title-{{ include.event-type }} heading"><a href="{% if include.event.redirect_to %}{{ include.event.redirect_to}}{% else %}{{ include.event.url }}{% endif %}">{{ include.event.title }}</a></h3>
    <div class="event-time-location">
      <div class="event-meta">
        <i class="icon fa fa-calendar-o" aria-hidden="true"></i>
        <p class="event-meta-item">{{ include.event.date | date: "%-d %B %Y"}}, <strong>{{include.event.startTime | date:"%-I:%M%P "}} – {{include.event.endTime | date:"%-I:%M%P "}}</strong></p></div>
      <div class="event-meta">
        <i class="icon fa fa-map-marker" aria-hidden="true"></i>
        <p class="event-meta-item">{{ include.event.location }}</p>
      </div>
    </div>
  </header>
{% if include.event-type == "upcoming" %}
  <div class="event-caption"><p>{{ include.event.text }}</p></div>
{% endif %}
