<!-- Event Grid Section -->
{% include event-logic-front.html %}
<section id="event-grid" class="site-section">
  <h2>Upcoming Events</h2>
  <!-- Default Events-->
  <div class="row">
    {% for post in event_posts %}
      {% include event-logic-loop.html %}
      {% if post_year > now_year or post_day >= now_day and post_year >= now_year and event_count < 4 %}
        {% assign event_count = event_count | plus: 1 %}
        <section class="six columns event-item">
          {% include event.html %}
        </section>
      {% endif %}
    {% endfor %}

    {% if event_count == 0 %}
      <p>No upcoming events.<br />
        <a href="mailto:{{ site.email }}">If you are interested in doing something, get in touch!</a>
      </p>
    {% endif %}
  </div>
</section> <!-- /.event-grid -->
