<!-- Event Section: with description -->
<header>
  <h3 class="event-title heading"><a href="{% if post.redirect_to %}{{ post.redirect_to}}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h3>
  <div class="event-time-location">
    <div class="event-meta">
      <i class="icon fa fa-calendar-o" aria-hidden="true"></i>
      <p class="event-time">{{ post.date | date: "%-d %B %Y"}}, <strong>{{post.startTime | date:"%-I:%M%P "}}</strong> &ndash; <strong>{{post.endTime | date:"%-I:%M%P "}}</strong></p></div>
    <div class="event-meta">
      <i class="icon fa fa-map-marker" aria-hidden="true"></i>
      <p class="event-location">{{ post.location }}</p>
    </div>
  </div>
</header>
<div class="event-caption"><p>{{ post.text }}</p></div>
