<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/" rel="home">
        {% if page.url == '/' %}
        <img src="/favicon.ico"></img>
        {% else %}
        Toronto Mesh
        {% endif %}
      </a>
    </h1>

    <nav class="nav" role="navigation" aria-label="Primary Menu">
      <ul>
      {% for page in site.pages %}
        {% if page.title and page.title != 'Page Not Found' %}
        <li><a class="nav-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul> <!-- .nav -->
    </nav>

  </div>
</header>
