<header class="site-header">
  <div class="container">
    <h3 class="site-title">
      <a href="{{ site.baseurl }}/" rel="home">
        {% if page.url == '/' %}
          <img src="/favicon.ico" />
        {% else %}
          {{ site.title }}
        {% endif %}
      </a>
    </h3>

    <nav class="nav" role="navigation" aria-label="Primary Menu">
      <ul>
      {% for page in site.pages %}
        {% unless page.url contains '/events/page' %}
          {% if page.title and page.title != 'Page Not Found' %}
            <li><a class="nav-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
      </ul> <!-- .nav -->
    </nav>

  </div>
</header>
