<!-- Next Event Section -->
  <section class="events-home-grid">
      <div class="row">
        {% include event-logic-front.html %}
        {% for post in event_posts %}
          {% include event-logic-loop.html %}
          {% if post_year > now_year or post_day >= now_day and post_year >= now_year %}
            {% if event_count < 1 %}
              {% assign is_event = 1 %}
              {% assign event_count = event_count | plus: 1 %}
              {% include event.html %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
          {% if is_event == 0 %}
            <p>No upcoming events.</p>
          {% endif %}
      </div>
  </section>
