<!-- Next Event Section -->
  <section class="events-home-grid">
      <div class="row">
          {% assign isEvent = 0 %}
          {% assign eventCount = 0 %}
          {% assign eventPosts = site.posts | reverse %}
          {% for post in eventPosts %}
            {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
            {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
            {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
            {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
            {% assign postday = postday | plus: 0 %}
            {% assign nowday = nowday | minus: 0 %}
            {% if postyear > nowyear or postday >= nowday and postyear >= nowyear and eventCount < 1 %}
              {% assign isEvent = 1 %}
              {% assign eventCount = eventCount | plus: 1 %}
                {% include event.html %}
            {% endif %}
          {% endfor %}
      </div>
      <div class="row">
          {% if isEvent == 0 %}
            <p>No upcoming events.</p>
          {% endif %}
      </div>
  </section>
