// Announcements
.announcement {
  background-color: $brand-color;
  color: $white;
  font-size: $small-font-size;
  padding: 15px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: underline;
  }
}
