// Basic Styling

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

::-moz-selection { background: $yellow; }
::selection { background: $yellow; }


// Images

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Figures

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// Links

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 15%);
  }
}


// Blockquotes

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

// hr

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}


// Code formatting

pre,
code {
  margin: 0 .2rem;
  font-size: 15px;
  white-space: nowrap;
  border: 1px solid rgba($brand-color, 0.1);
  border-radius: 3px;
  background-color: rgba($brand-color, 0.05);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    display: block;
    border: 0;
    padding: 1rem 0;
    white-space: pre;
  }
}
