@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-Black.woff2') format('woff2'),
    url('fonts/WorkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  }
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-ExtraBold.woff2') format('woff2'),
    url('fonts/WorkSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-Bold.woff2') format('woff2'),
    url('fonts/WorkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('fonts/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-Medium.woff2') format('woff2'),
    url('fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
    url('fonts/WorkSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-Light.woff2') format('woff2'),
    url('fonts/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-ExtraLight.woff2') format('woff2'),
    url('fonts/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src: url('fonts/WorkSans-Thin.woff2') format('woff2'),
    url('fonts/WorkSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}