// Site navigation

.site-header {
  background-color: $black;
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-item {
    color: $white;
    transition: color 180ms ease-in-out, background 180ms ease-in-out;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 $base-padding;


    &:hover {
      color: $blue-color-light;
      background: rgba($white, 0.15);
    }

    &:focus {
      color: $white;
      background: rgba($white, 0.25);
    }

    &.active {
      color: $white;
      background: rgba($white, 0.3);
    }
  }
}

.site-title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  flex-grow: 1;


  a {
    color: $white;
  }

  .site-logo {
    width: 30px;
  }
}

.nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


.event-item {
  margin: 0;
  padding-right: 20px;
}
// Site main feature

.background-tint {
  background-color: $black-color-transparent;
  background-blend-mode: multiply;
}

.feature {
  position: relative;
  background-image: url(/images/mesh.png);
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  span {
    color: $blue-color-light;
  }

  .content {
    padding: 140px 0 30px 0;
  }
  h1 {
    font-size: 450%;
    margin: 0;
    line-height: 1em;
    color: $white;
  }
  h2 {
    font-size: 170%;
    margin: 0 0 1em;
    font-weight: normal;
    color: $white;
  }

  .attribution {
    color: rgba($white, 0.5);
    margin: 1em 0;
    display: inline-block;
    font-size: 0.85em;
  }
}



// Site featurettes
.featurette {
  padding: 60px 0;
  &:nth-child(odd) {
    background-color: $grey-color-lighter;
  }
  h1 {
    color: $blue-color-light;
  }
  img {
    padding: 20px;
  }
}

// Site footer

.site-footer {
  margin: 3em 0;
  font-size: 0.85em;

  .site-footer-contact {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin-right: 2em;
      padding: 5px 0;
      position: relative;

      @media (max-width: $content-width) {
        flex-basis: 50%;
        margin: 0;
      }
    }

    a {
      color: $grey-color;

      &:hover {
        color: $grey-color-dark
      }
    }
  }

  .site-footer-cc {
    margin-top: 1.5em;
  }

}

.post {
  padding: 40px 0 ;
}


// Post header
.post-header {
  margin-bottom: 1.5em;
}


// Notices
.notice {
  margin: 4em 0;
}


// Pagination
.pagination {
  width: 50%;
  margin: 0 auto;
}

// mobile adjustments
@media screen and (max-width: 500px) {
  .site-title {
    padding: 10px 0;
    text-align: center;
  }
  .site-header .container {
    justify-content: center;
  }

}
