// Site header

.site-title {
  margin-bottom: 0;
  position: relative;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

// Site navigation

.nav {
    padding-top: $base-padding;
    line-height: $base-line-height;
    float: right;
    overflow: hidden;
}

.nav ul {
    list-style: none;
    display: inline-block;
}

.nav li {
    display: inline-block;
    padding-right: $base-padding;
}

// Site sections

.site-section {
  border-top: 1px solid #eee;
  margin: 2rem 0;
  padding: 2rem 0;
}

// Site footer

.site-footer {
  margin: 2em 0;
  line-height: 1.2em;

  .site-footer-cc {
    margin-top: 2rem;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
}

// Post header

.post-header {
  margin-bottom: 1.5em;
}

// Notices

.notice {
  margin: 4em 0;
}
