// Site navigation

.site-header {
  background-color: black;
  .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  a {
    color: white !important;
    text-transform: lowercase;
    font-weight: 600;
    transition: color 0.3s;
    &:hover {
      color: #00BCD4 !important;
    }
  }
}

.site-title {
  margin: 0;
  flex-grow: 1;

  &,
  &:visited {
    color: $grey-color-dark;
  }
  #site-logo {
    width: 30px;
  }
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    padding-right: $base-padding;
  }
}


// Site main feature
.background-tint {
  background-color: $black-color-transparent;
  background-blend-mode: multiply;
}
.feature {
  position: relative;
  background-image: url(/images/mesh.png);
  span {
    color: $blue-color-light;
  }
  & .content {
    padding: 110px 0 30px 0;
  }
  h1 {
    font-size: 450%;
    color: white;
  }
  p {
    font-size: 170%;
    color: white;
  }
  & .attribution {
    color: $grey-color-light;
    font-size: 80%;
  }
}

// Site featurettes

.featurette {
  padding: 60px 0;
  &:nth-child(odd) {
    background-color: $grey-color-lighter;
  }
  h1 {
    color: $blue-color-light;
  }
  img {
    padding: 20px;
  }
}

// Site footer

.site-footer {
  color: white;
  line-height: 1.2em;
  .site-footer-contact {
    text-align: center;
    background-color: $grey-color-gunmetal;
    list-style: none;
    p {
      font-weight: bold;
    }
    ul {
      margin-bottom: 0;
      padding-left: 0;
    }
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
  .site-footer-cc {
    background-color: black;
  }
  .site-footer-cc, .site-footer-contact {
    padding: 20px 0;
  }
}
.post {
  padding: 40px 0 ;
}
// Post header

.post-header {
  margin-bottom: 1.5em;
}

// Notices

.notice {
  margin: 4em 0;
}
