// Lists

ol,
ul {
  margin-top: 0;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: $spacing-unit;
  margin-bottom: $base-margin-bottom;
}

ol {
  list-style: decimal;
}

li {
  > ul,
  > ol {
    margin: 0 0 $base-margin-bottom;
    padding-left: $spacing-unit;
  }

  & + li {
    margin-top: 0.25em;
  }
}
