html, body, #map_canvas {
  height: 100%;
}

#map {
  padding-top: 55px;
  height: 100%;
  width: 100%;
  min-height: 625px;
}

.markerPop {
  h1 {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 20px;
  }
}

.customMarker {
  position: absolute;
  top: 70px;
  left: 13px;
  width: 425px;
  height: 300px;
}

.toggles {
  position: absolute;
  padding: 5px;
  top: 70px;
  right: 13px;
  width: 300px;
}

.customShadowBox {
  padding: 5px;
  background: $white;
  font-size: 0.9em;
  box-shadow: 2px 2px 0 0 rgba($black, 0.1);
}

.toggles h2, .customMarker h2 {
  margin: -5px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  background: $black;
  color: $white;
  margin-bottom: 3px;
  text-align: left;
}

.customMarker a {
  color: $black;
  font-weight: bold;
}

.checkBoxSlider {
  width: 60px;
  height: 20px;
  background: #333;
  border-radius: 25px;
  position: relative;
  display: inline-block;

  input[type=checkbox] {
    visibility: hidden;
  }

  &:before {
    content: 'On';
    position: absolute;
    top: 4px;
    left: 6px;
    height: 1px;
    color: #26ca28;
    font-size: 8px;
  }

  &:after {
    content: 'Off';
    position: absolute;
    top: 4px;
    left: 42px;
    height: 1px;
    color: #ff0000;
    font-size: 8px;
  }

  label {
    display: block;
    width: 26px;
    height: 11px;
    border-radius: 25px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 6px;
    background: #ddd;
  }

  & input[type=checkbox]:checked + label {
    left: 30px;
    background: #26ca28;
  }
}

input[type="button"].MapButton, input[type="text"].MapButton {
  box-shadow:none;
  background-repeat: no-repeat;background-position: center;
  border-radius: 0px;
  border:none;
}

.expand {
  display: none;
  float: right;
}

@media (max-width: 550px) {
  .customMarker {
    display: none;
  }

  .toggles {
    right: 6px;
    overflow: hidden;
    height: 33px;
    width: 135px;
  }

  .expand {
    display: inline;
  }

  .FullHeight {
    width: calc(100% - 10px);
    height: 170px;
  }
}

#customMarkerAddress::placeholder {
  color: #bbbbbb;
  font-family: "worksans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  text-decoration: none;
}

#customMarkerAddress {
  width: 300px
}
