// Site navigation

.site-header {
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 55px;

  @media screen and (max-width: $on-palm) {
    line-height: 44px;
  }

  a {
    color: $white;
  }

  .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    @media screen and (max-width: $on-palm) {
      justify-content: center;
      width: 100%;
    }
  }
}

.site-title {
  font-size: 1.25em;
  margin: 0;
  flex-grow: 1;
  padding: 10px 0;

  @media screen and (max-width: $on-palm) {
    width: 100%;
    text-align: center;
  }
}

.nav {
  @media screen and (max-width: $on-palm) {
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    overflow-x: scroll;
  }

  &:after {
    @media screen and (max-width: $on-palm) {
      content: '';
      pointer-events: none;
      position: absolute;
      background: linear-gradient(to right, transparent, $black);
      right: 0;
      top: 0;
      bottom: 0;
      width: 20px;
    }
  }

  ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: $on-palm) {
      width: 100%;
    }
  }

  li {
    flex-grow: 1;

    @media screen and (max-width: $on-palm) {
      &:last-child {
        padding-right: 20px;
      }
    }

    & + li {
      margin-top: 0;
    }
  }

  .nav-item {
    transition: color 180ms ease-in-out, background 180ms ease-in-out;
    display: inline-flex;
    white-space: nowrap;
    padding: 0 20px;

    @media screen and (max-width: $on-palm) {
      width: 100%;
      justify-content: center;
      padding: 0 10px;
    }

    &:hover {
      background: rgba($white, 0.20);
    }

    &:focus {
      color: $white;
      background: rgba($white, 0.55);
      transition: none;
    }

    &.active {
      color: $white;
      background: rgba($white, 0.3);
    }
  }
}