.site-title {
  font-size: 1.25em;
  margin: 0;
  padding: 10px 0;
  flex-grow: 1;
}

.header {
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 55px;
  width: 100%;
  position: fixed;
  z-index: 100;

  @media (max-width: $on-palm) {
    line-height: 44px;
  }

  .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: $on-palm) {
      display: block;
    }
  }

  a {
    transition: color 180ms ease-in-out, background 180ms ease-in-out;
    color: $white;
  }

  .nav-item {
    padding: 0 20px;
    display: inline-flex;
    white-space: nowrap;

    &:hover {
      background: rgba($white, 0.20);
    }
    &:focus {
      color: $white;
      background: rgba($white, 0.55);
      transition: none;
    }
    &.active {
      color: $white;
      background: rgba($white, 0.3);
    }

    @media (max-width: $on-palm) {
      display: block;
    }
  }

  .menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex-grow: 1;
    }

    li + li {
      margin-top: 0;
    }

    @media (max-width: $on-palm) {
      display: block;
    }
  }

  .nav {
    @media (max-width: $on-palm) {
      max-height: 0;
      transition: max-height .5s ease-in-out;
      overflow: hidden;
    }
  }
}

.menu-icon {
  cursor: pointer;
  display: none;
  padding: 20px;
  position: relative;
  user-select: none;

  @media (max-width: $on-palm) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navicon {
  background: $white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .5s ease-in-out;
  width: 18px;

  &:before,
  &:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    width: 100%;
  }

  &:before {
    top: 5px;
  }

  &:after {
    top: -5px;
  }
}

input[type="checkbox"].menu-btn {
  display: none;

  &:checked ~ .nav {
    max-height: 400px;
  }

  &:checked ~ .menu-icon .navicon {
    background: transparent;

    &:before {
      top: 0;
      transform: rotate(-45deg);
    }

    &:after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}


/*Sub menu CSS*/
.nav-item-sub {   
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 2px 0 0;
    margin-top:-1px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background:black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);	
}

.header li:hover .nav-item-sub  {
    display: block;
}


.nav-item-sub > li > a {
	background: black;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
	padding:5px;
	margin:5px;
}
.nav-item-sub  li  a:hover {
    background: rgba($white, 0.20);	
}