.site-title {
  font-size: 1.25em;
  margin: 0;
  padding: 10px 0;
  flex-grow: 1;
}

.header {
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 55px;
  width: 100%;

  @media (max-width: $on-palm) {
    line-height: 44px;
  }

  .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: $on-palm) {
      display: block;
    }
  }

  a {
    transition: color 180ms ease-in-out, background 180ms ease-in-out;
    color: $white;
  }

  .nav-item {
    padding: 0 20px;
    display: inline-flex;
    white-space: nowrap;

    &:hover {
      background: rgba($white, 0.20);
    }
    &:focus {
      color: $white;
      background: rgba($white, 0.55);
      transition: none;
    }
    &.active {
      color: $white;
      background: rgba($white, 0.3);
    }

    @media (max-width: $on-palm) {
      display: block;
    }
  }

  .menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex-grow: 1;
    }

    li + li {
      margin-top: 0;
    }

    @media (max-width: $on-palm) {
      display: block;
    }
  }

  .nav {
    @media (max-width: $on-palm) {
      max-height: 0;
      transition: max-height .5s ease-in-out;
      overflow: hidden;
    }
  }
}

.menu-icon {
  cursor: pointer;
  display: none;
  padding: 20px;
  position: relative;
  user-select: none;

  @media (max-width: $on-palm) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navicon {
  background: $white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .5s ease-in-out;
  width: 18px;

  &:before,
  &:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    width: 100%;
  }

  &:before {
    top: 5px;
  }

  &:after {
    top: -5px;
  }
}

input[type="checkbox"].menu-btn {
  display: none;

  &:checked ~ .nav {
    max-height: 400px;
  }

  &:checked ~ .menu-icon .navicon {
    background: transparent;

    &:before {
      top: 0;
      transform: rotate(-45deg);
    }

    &:after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}
