.site-title {
  font-size: 1.25em;
  margin: 0;
  padding: 10px 0;
  display: inline;
}

.header {
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 55px;
  width: 100%;
  z-index: 3;

  .site-title {
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0;
    display: inline;
  }

  li {
    margin-top: 0;
  }

  a {
    transition: color 180ms ease-in-out, background 180ms ease-in-out;
    color: $white;
    padding: 20px;

    &:hover {
      background: rgba($white, 0.20);

    }
    &:focus {
      color: $white;
      background: rgba($white, 0.55);
      transition: none;
    }
    &.active {
      color: $white;
      background: rgba($white, 0.3);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-bottom: 0;
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 540px;
    }
    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);

      }
      &:after {
        transform: rotate(45deg);

      }
    }
  }
}



.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;

  &:before, &:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  &:before {
    top: 5px;
  }
  &:after {
    top: -5px;
  }

}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 55em) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
