.timeline {
  ul {
    padding: 0;
  }
}

.timeline-item {
  position: relative;
  width: 370px;
  padding: 0 15px;
  transition: all 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;

  time {
    display: block;
    font-size: .75em;
    font-weight: bold;
  }

  img {
    margin: 10px 0;
  }

  p {
    font-size: 0.9em;
    margin-bottom: 0;
  }

  @media screen and (max-width: $on-palm) {
    width: 100%;
    padding: 0;
    position: static;
  }

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    height: 1px;
    width: 30px;
    background: lighten($grey-color, 55%);

    @media screen and (max-width: $on-palm) {
      display: none;
    }
  }
}

.timeline-item-container {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  background: lighten($grey-color, 55%);
  pointer-events: none;

  @media screen and (max-width: $on-palm) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1.5em;
    background: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lighten($brand-color, 20%);
    transition: background 300ms ease-in-out;

    @media screen and (max-width: $on-palm) {
      display: none;
    }
  }

  &:hover::after {
    background: $brand-color;
  }

  &:nth-child(odd) .timeline-item {
    transform: translate3d(10px, 0, 0);
    left: 20px;

    &::before {
      left: -20px;
    }
  }

  &:nth-child(even) .timeline-item {
    text-align: right;
    transform: translate3d(-10px, 0, 0);
    left: -390px;

    @media screen and (max-width: $on-palm) {
      text-align: left;
    }

    &::before {
      right: -20px;
    }
  }

  &.in-view .timeline-item {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}
