/* Additional Toronto Mesh Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.35em;
}

h1 { font-size: 3.0rem; line-height: $base-heading-line-height }
h2 { font-size: 2.7rem; line-height: $base-heading-line-height }
h3 { font-size: 2.5rem; line-height: $base-heading-line-height }
h4 { font-size: 2.0rem; line-height: $base-heading-line-height }
h5 { font-size: 1.5rem; line-height: $base-heading-line-height }
h6 { font-size: 1.1rem; line-height: $base-heading-line-height }

// Headings -  Larger than phablet (adjusted from skeleton)
@media (min-width: $on-palm) {
  h1 { font-size: 3.5rem; }
  h2 { font-size: 2.9rem; }
  h3 { font-size: 2.5rem; }
  h4 { font-size: 2.2rem; }
  h5 { font-size: 1.7rem; }
  h6 { font-size: 1.2rem; }
}

p {
  margin-top: 0;
  margin-bottom: $base-margin-bottom;
}

// Heading helper

.heading {
  line-height: 1.2em;
}
