// Our variables
$base-font-family: "worksans", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;
$base-padding: $base-margin-bottom * 2;

$spacing-unit: 2em;

// site-wide colors
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #1f73e0;

// general colors
$white: #fff;
$black: #000;
$yellow: #ffff00;
$grey-color: #666;
$grey-color-lighter: #f7f7f7;
$grey-color-med-light: lighten($grey-color, 55%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$black-color-transparent: rgba($black, 0.6);

// Width of the content area
$content-width: 760px;

$on-palm: 600px;
$on-laptop: 800px;
