---
layout: default
---
<div class="container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      {% include event-logic-front.html %}

      {% capture post_year %}{{page.date | date: '%Y'}}{% endcapture %}
      {% capture post_day %}{{page.date | date: '%j'}}{% endcapture %}
      {% assign post_day = post_day | plus: 0 %}

      {% assign now_day = now_day | minus: 1 %}
      {% if post_year < now_year or post_day <= now_day and post_year <= now_year %}
        <p class="event-status">This event has ended.</p>
      {% endif %}

      <h1 class="post-title heading" itemprop="name headline">{{ page.title }}</h1>
      <div class="event-time-location">
        <div class="event-meta">
          {% include_absolute _icons/calendar-o.svg class:icon %}
          <p class="event-time event-meta-item">{{ page.date | date: "%-d %B %Y"}}, <strong>{{page.startTime | date:"%-I:%M%P "}}</strong> &ndash; <strong>{{page.endTime | date:"%-I:%M%P "}}</strong></p></div>
        <div class="event-meta">
          {% include_absolute _icons/map-marker.svg class:icon %}
          <p class="event-location event-meta-item">
          {% if page.locationLink %}
            <a href="{{page.locationLink}}" target="_blank">{{ page.location }}</a>
          {% else %}
            {{ page.location }}
          {% endif %}
          </p>
        </div>
      </div>
      <div class="event-add">
        {% capture event_title %}{{ page.title }}{% endcapture %}
        {% capture event_start %}{{ page.date | date: "%Y%m%d" }}T{{ page.startTime | date:"%H%M%S" }}{% endcapture %}
        {% capture event_end %}{{ page.date | date: "%Y%m%d" }}T{{ page.endTime | date:"%H%M%S" }}{% endcapture %}
        {% capture event_location %}{{ page.location }}{% endcapture %}
        {% capture event_description %}{{ page.text | strip }} For details, link here: {{ page.url|strip | prepend: site.url }}{% endcapture %}
        <script type="text/javascript">
          var event_data = {
            LOCATION:'{{ event_location }}',
            SUMMARY:'{{ event_title }}',
            DESCRIPTION:'{{ event_description }}',
            DTSTART:'{{ event_start }}',
            DTEND:'{{ event_end }}'
          }
        </script>
        {% capture googleCalendarLink %}text={{ event_title | url_encode }}&location={{ event_location | url_encode }}&dates={{ event_start }}/{{ event_end }}&details={{ event_description | url_encode }}&ctz=America/Toronto&sf=true&output=xml{% endcapture %}

        <button download="event.ics" class="compact" id="event-add-button">{% include_absolute _icons/calendar-plus-o.svg class:icon %}&nbsp;&nbsp;Add to Calendar (.ics)</button>
        <a class="button compact" target="_blank" rel="noopener" href="https://www.google.com/calendar/render?action=TEMPLATE&{{ googleCalendarLink }}">
          {% include_absolute _icons/google_calendar.svg class:icon %}&nbsp;&nbsp;Add to Google Calendar
        </a>
      </div>
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <footer class="post-footer">
      <div class="row">
        <a href="{{ site.baseurl }}/events" class="button">{% include_absolute _icons/calendar.svg class:icon %}
    &nbsp;&nbsp;Back to Events</a>
      </div>
    </footer>
  </article>
</div>
