---
layout: page
title: Events
order: 3
---

<p>
  We host a range of events, including in-person and virtual meetups as well as workshops to work on the mesh network and learn about networking. All are welcome and we have a <a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a>.
</p>

<div class="events-subscribe-container">
  <a href="{{ site.baseurl }}/events.ics" class="button"><i class="icon fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Subcribe to our calendar (.ics)</a></div>
</div>

<br />

{% include event-grid.html %}

<hr>

{% include previous-events.html %}
